body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container1,
.container2,
.container3 {
    width: 550px;
    height: 300px;
    border: 3px solid rgb(54, 202, 210);
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container1 div {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 20px;
    counter-increment: number;
    border: 1px solid;
    box-shadow: -7px -7px 0px rgb(251, 56, 115), 7px 7px 0px rgb(92, 195, 247);
    -webkit-box-shadow: -7px -7px 0px rgb(251, 56, 115), 7px 7px 0px rgb(92, 195, 247);
    -moz-box-shadow: -7px -7px 0px rgb(251, 56, 115), 7px 7px 0px rgb(92, 195, 247);
    -ms-box-shadow: -7px -7px 0px rgb(251, 56, 115), 7px 7px 0px rgb(92, 195, 247);
    -o-box-shadow: -7px -7px 0px rgb(251, 56, 115), 7px 7px 0px rgb(92, 195, 247);
    position: relative;
    background-color: #eee;
    display: inline-block
}

.container1 div::before {
    content: counter(number);
    position: absolute;
    left: 35px;
    top: -15px;
    background-color: #000;
    color: aliceblue;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
}

.container1 div::after {
    content: "element";
    position: absolute;
    left: 20px;
    top: 40px;
    text-transform: capitalize;
}

.container2 div {
    width: 100px;
    height: 100px;
    background-color: #eee;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgb(96 88 88) inset;
    border-radius: 19px 47px 21px 47px;
}

.container3 .basic,
.container3 .pro {
    width: 224px;
    height: 270px;
    background-color: #eee;
    position: relative;
    display: block;
    margin: 10px;
    align-items: center;
}

.container3 .basic .mode,
.container3 .pro .mode {
    width: 160px;
    height: 20px;
    background-color: #05a9f4;
    position: absolute;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px;
    top: 8px;
    left: 22px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}

.container3 .basic .offer,
.container3 .pro .offer {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid transparent;
    background-color: #ddd;
    width: 160px;
    height: 160px;
    position: absolute;
    top: 70px;
    left: 30px;
    font-size: 35px;
    text-align: center;
    line-height: 160px;
}

.container3 .or {
    height: 270px;
    width: 1px;
    background-color: #05a9f4;
    display: inline-block;
    margin: 0px 10px;
    position: relative;
}

.container3 .or::after {
    content: "or";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #05a9f4;
    text-align: center;
    line-height: 30px;
    color: #fff;
    left: -15px;
    top: 120px;
}

h3 {
    text-align: center;
    background-color: #cce7f3;
    margin: 50px 10px;
    padding: 10px;
    box-shadow: 1px 1px 30px -5px rgb(132, 143, 149);
    -webkit-box-shadow: 1px 1px 30px -5px rgb(132, 143, 149);
    -moz-box-shadow: 1px 1px 30px -5px rgb(132, 143, 149);
    -o-box-shadow: 1px 1px 30px -5px rgb(132, 143, 149);
    -ms-box-shadow: 1px 1px 30px -5px rgb(132, 143, 149);
}