* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    margin: 50px;
}


/* part1 */

.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 50px auto;
    gap: 15px;
    margin: 50px auto;
}

.grid div {
    background-color: #55788a;
    display: flex;
    justify-content: center;
    align-items: center;
    counter-increment: element;
}

.grid div::before {
    content: "Element";
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 0 5px;
}

.grid div::after {
    content: counter(element);
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}


/* part2 */

.layout {
    margin: 50px auto;
    display: grid;
    width: 97%;
    height: 100vh;
    grid-template-areas: "head head" "sec  side" "foot  foot";
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 1fr 250px;
    text-transform: capitalize;
    color: #fff
}

.layout>header {
    grid-area: head;
    background-color: #0da9d0;
    padding: 20px;
}

.layout>header::before {
    content: "header"
}

.layout>section {
    grid-area: sec;
    background-color: #fd4800f9;
    padding: 20px;
}

.layout>section:before {
    content: "section"
}

.layout>aside {
    grid-area: side;
    background-color: rgba(10, 85, 123, 0.633);
    padding: 20px;
}

.layout>aside:before {
    content: "aside"
}

.layout>footer {
    grid-area: foot;
    background-color: #0c938a;
    padding: 20px;
}

.layout>footer:before {
    content: "footer"
}


/* part3 */

.grid3 {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-rows: 1fr auto;
    gap: 15px;
    margin: 50px auto;
}

.grid3 div {
    background-color: #403F3F;
    display: grid;
    justify-content: center;
    align-content: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}


/* part4 */

.grid4 {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 50px auto;
    display: grid;
    grid-template-areas: "eight eight eight" "two two three" "four five five" "six five five" "seven five five" "one one one";
    gap: 20px
}

.grid4 div {
    display: grid;
    justify-content: center;
    align-content: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(20, 144, 197)
}

.grid4>.one {
    grid-area: one;
}

.grid4>.two {
    grid-area: two;
}

.grid4>.three {
    grid-area: three;
}

.grid4>.four {
    grid-area: four;
}

.grid4>.five {
    grid-area: five;
}

.grid4>.six {
    grid-area: six;
}

.grid4>.seven {
    grid-area: seven;
}

.grid4>.eight {
    grid-area: eight;
}


/* part5 */

.grid5 {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 35px 35px;
    gap: 20px;
    align-content: space-between;
}

.grid5>div {
    background-color: rgb(255, 0, 85);
    display: grid;
    justify-content: center;
    align-content: center;
    color: #fff;
    font-weight: bold;
    font-size: 20px
}


/* part6 */

.part6 {
    background-color: #eeeeee;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.grid6 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 10px;
}

.grid6 div {
    background-color: #ffffff;
    padding: 30px 20px;
    border-bottom: 3px solid #f54e1f;
    position: relative;
    line-height: 1.5;
}

.grid6 div span {
    font-size: 60px;
    position: absolute;
    bottom: -25px;
    right: 10px;
    color: gray;
}

.name {
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 20px;
}

.job {
    color: gray;
    font-weight: bold;
    margin-bottom: 15px;
}

.description {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 18px;
}

.person3,
.person5,
.person8 {
    background-color: black !important;
    color: #ffffff !important;
}

.person1 {
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
}

.person5 {
    grid-column: 2 / span 2;
    grid-row: 2 / 3;
}

.person6 {
    grid-column: 2 / span 2;
    grid-row: 3 / 4;
}

.person4 {
    grid-column: 1 / 2;
    grid-row: 2 / span 2;
}

.person3 {
    grid-column: 4 / 5;
    grid-row: 1 / span 3;
}