    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    @keyframes animation1 {
        0% {
            border: 5px solid rgb(184, 7, 220);
            border-left-color: #E91E63;
        }
        25% {
            border-top-color: #E91E63;
        }
        50% {
            border-right-color: #E91E63;
        }
        100% {
            border-bottom-color: #E91E63;
        }
    }
    
    @keyframes animation2 {
        0% {
            border: 5px solid #03A9F4;
            border-left-color: #0be491;
        }
        25% {
            border-top-color: #0be491;
        }
        50% {
            border-right-color: #0be491;
        }
        100% {
            border-bottom-color: #0be491;
        }
    }
    
    h3 {
        text-align: center;
        width: fit-content;
        margin: 100px auto;
        padding: 20px;
        position: relative;
        text-transform: uppercase;
        font-size: 32px;
        animation: animation1 4s infinite;
        -webkit-animation: animation1 4s infinite;
        border: 5px solid rgb(184, 7, 220);
    }
    
    h3::before {
        content: "";
        width: 350px;
        position: absolute;
        top: 15px;
        left: -75px;
        padding: 30px;
        border: 3px solid;
        background-color: #fff;
        border-color: #03A9F4;
        z-index: -1;
        animation: animation2 4s infinite;
        -webkit-animation: animation2 4s infinite;
    }
    /* part 1*/
    
    .part1 {
        width: 300px;
        height: 200px;
        background-color: #EEEEEE;
        border: 1px solid #d8d2d2;
        font-size: 50px;
        color: #03A9F4;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px auto;
        position: relative;
    }
    
    .part1::after {
        content: '';
        position: absolute;
        width: 300px;
        height: 200px;
        background-color: #03A9F4;
        top: 0;
        left: 0;
        transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        z-index: -1;
    }
    
    .part1::before {
        content: '';
        position: absolute;
        width: 300px;
        height: 200px;
        background-color: #E91E63;
        top: 0;
        left: 0;
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        z-index: -2;
    }
    /* part2 */
    
    .part2,
    .part3 {
        width: 200px;
        height: 200px;
        background-color: #EEEEEE;
        border: 1px none;
        font-size: 50px;
        margin: 50px auto;
        position: relative;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        line-height: 200px;
        text-align: center;
    }
    
    .part2::before,
    .part3::before {
        content: '';
        position: absolute;
        width: 200px;
        height: 200px;
        background-color: #fff;
        top: -5px;
        left: -5px;
        z-index: -1;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border: 5px solid;
        border-color: #E91E63 #E91E63 #E91E63 #fff;
    }
    
    .part2::after,
    .part3::after {
        content: '';
        position: absolute;
        width: 200px;
        height: 200px;
        background-color: #fff;
        top: -10px;
        left: -10px;
        z-index: -2;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border: 10px solid;
        border-color: #03A9F4 #fff #03A9F4 #03A9F4;
    }
    /* part3 */
    
    .part3::before {
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
    }
    
    .part3::after {
        transition: .5s ease .5s;
        -webkit-transition: .5s ease .5s;
        -moz-transition: .5s ease .5s;
        -ms-transition: .5s ease .5s;
        -o-transition: .5s ease .5s;
    }
    
    .part3:hover::before,
    .part3:hover::after {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }